@charset "UTF-8";
/*
 *   Styleguide styles. 
 *   Do not use these classes in production
 */
/***************************************************
 * OUR PAGE SETTINGS
 */
/* We can use a wrapperclass to make unique rules and
 * avoid conflicts with existing older css classes.
 *
 *   <div class="our-namespace-to-isolate-the-rules">
 *       <div class="teaser">
 *           [...]
 *       </div>
 *   </div>
 */
/***************************************************
 *
 *  some little präfix mixins
 *
 */
/***************************************************
 *
 *  px to rem functions
 *
 */
/**
 * get any css-rule with rem and px from px
 */
/***************************************************
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/***************************************************
 *
 *  Headings
 *
 */
/***************************************************
 *
 *  Source / Copyright
 *
 */
/***************************************************
 *
 *  List mixins
 *
 */
/***************************************************
 * A simple mixin to quickly generate whole media queries from the aliases and
 * conditions defined in `_settings.responsive.scss`.
 *
 * Usage:
 *
 * .foo {
 *     color: green;
 *
 *     @include media-query(palm) {
 *         color: red;
 *     }
 *
 * }
 */
/***************************************************
 *
 *   FORM
 *
 */
/***************************************************
 *
 *   BUTTON
 *
 */
/*
 * Twitter Follow Button
 *
 **/
/***************************************************
 *
 *   Links
 *
 */
/***************************************************
 *
 *   Icons
 *
 */
/***************************************************
 *
 *   Widget
 *
 */
pre code {
  background-color: #FAFCBA;
  display: block;
  padding: 1em;
  margin: 0 0 2em 0;
  width: 100%;
  overflow-x: scroll;
  overflow-x: auto;
  font-size: 12px; }
  pre code > * {
    max-width: 100%; }

.sg-collapse {
  background-color: #FAFCBA;
  margin-bottom: 3em; }
  .sg-collapse code {
    margin: 0; }

form + .sg-collapse {
  margin-top: -1.25rem; }

.sg-code-inline {
  display: inline;
  margin: 0;
  vertical-align: top;
  background-color: #f7f7f9;
  color: #bd4147;
  font-size: 12px;
  padding: 0rem 0.4rem;
  font-family: monospace;
  display: inline-block;
  width: auto;
  margin: 0; }

.sg-tabs-list {
  list-style: none;
  padding: 0; }

.sg-boxeditems ul {
  overflow: hidden;
  list-style: none;
  list-item-style: none; }
  .sg-boxeditems ul h4 {
    margin-top: 0; }
  .sg-boxeditems ul > li {
    border: 1px solid #dddddd;
    margin: 0 0.2em 0.2em 0;
    overflow: hidden;
    padding: 0.3em 1.3em;
    float: left;
    width: 14em;
    text-align: center; }
    .sg-boxeditems ul > li::before {
      display: none; }

.sg-boxeditems .sg-swatch {
  display: block;
  height: 5em;
  text-align: center; }
  .sg-boxeditems .sg-swatch .fa-icon {
    vertical-align: middle;
    text-align: center; }
    .sg-boxeditems .sg-swatch .fa-icon::after {
      display: inline-block;
      content: "";
      height: 100%;
      vertical-align: middle; }

.sg-boxeditems .sg-label {
  text-align: center;
  display: block; }
  .sg-boxeditems .sg-label::after {
    display: block; }

.styelguide-colors .sg-label {
  text-align: center;
  display: block; }
  .styelguide-colors .sg-label::after {
    display: block; }

.styelguide-colors .sg-color-white {
  background-color: #FFFFFF; }

.styelguide-colors .sg-color-black {
  background-color: #000000; }

.styelguide-colors .sg-color-grey {
  background-color: #f2f2f2; }

.styelguide-colors .sg-color-red {
  background-color: #E71835; }

.styelguide-colors .sg-color-blue {
  background-color: #086D9A; }

.styelguide-colors .sg-color-greyDark {
  background-color: #e3e3e3; }

.styelguide-colors .sg-color-greysource {
  background-color: #777777; }

.styelguide-colors .sg-color-lightestTextGrey {
  background-color: #777777; }
  .styelguide-colors .sg-color-lightestTextGrey::after {
    content: " " !important; }

.styelguide-colors .sg-color-greyBorder {
  background-color: #CCCCCC; }
  .styelguide-colors .sg-color-greyBorder::after {
    content: " " !important; }

.styleguide .sg-def-p {
  display: block; }

.styleguide .sg-def-pb {
  display: block; }

.styleguide .sg-def-a {
  display: block; }

.styleguide .sg-def-source {
  display: block; }

.styleguide .sg-def-sourceDesk {
  display: block; }
  .styleguide .sg-def-sourceDesk::after {
    content: "font: normal 12px/1.2 droid-sans, Arial, sans-serif; color: #e0e0e0"; }

.styleguide .sg-color-greyBorder::after {
  content: "#CCCCCC"; }

.styleguide .sg-color-lightestTextGrey::after {
  content: "#777777"; }

.styleguide label {
  font-weight: bold; }

.styleguide-grids .grid__item > *:not([class*=grid]) {
  min-height: 60px;
  box-shadow: 0 0 1px inset;
  display: block;
  margin-bottom: 1.25rem; }

.styleguide-heading-section {
  border-bottom: 5px solid #CCCCCC;
  margin-top: 0;
  margin-bottom: 0.6rem;
  padding-bottom: 0.2rem;
  margin-top: 3em;
  margin-bottom: 2em;
  color: #000000; }

.sg-layout-html {
  width: 100%;
  border: 1px solid #000000;
  background-color: #f2f2f2;
  padding: 0 2em; }
  .sg-layout-html .sg-layout-page .sg-layout-header {
    min-height: 4em;
    background: #FFFFFF;
    margin-bottom: 1.25rem; }
  .sg-layout-html .sg-layout-page .sg-layout-footer {
    min-height: 5em;
    background: transparent; }

body .sg-layout-content {
  min-height: 10em;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }
  body .sg-layout-content .grid {
    border: 1px dashed red;
    padding: 0.5em;
    margin-left: 0; }
    body .sg-layout-content .grid .grid__item {
      border: 1px dashed yellowgreen;
      padding: 0.5em; }
      body .sg-layout-content .grid .grid__item span {
        min-height: 5em;
        padding: 0.5em;
        background-color: #fafafa;
        display: block;
        margin-bottom: 0.7em; }
  body .sg-layout-content aside,
  body .sg-layout-content main {
    position: relative;
    border: 1px dotted blue;
    padding: 0.5em; }
    body .sg-layout-content aside::after,
    body .sg-layout-content main::after {
      border-radius: 4px;
      background-color: blue;
      color: white;
      display: block;
      position: absolute;
      margin: 1px;
      font-size: 11px;
      top: -6px;
      left: -2px; }
  body .sg-layout-content main::after {
    content: "main"; }
  body .sg-layout-content aside::after {
    content: "aside"; }

.sg-dummy-container-2x1-fullwidth {
  width: 100%;
  min-height: 15em;
  background-color: #fafafa;
  display: block;
  margin-bottom: 0.7em; }


/*# sourceMappingURL=styleguide.css-88807dd6cbc6f78139fc.map*/