<header role="banner" id="header">
    <div class="page-wrapper__inner">
        <div class="portal-head" role="banner">
            <div class="portal-logo">
                <a class="logo" title="Zur Startseite" href="/">
                  <img src="/themes/contrib/palm/images/logo_palm.svg" class="palm" />
                  <img src="/themes/contrib/palm/images/logo_blaetter_claim.svg" class="claim" />
                  <img src="/themes/contrib/palm/images/logo_tongue.svg" class="tongue" />
                </a>
            </div>
            {{ navigation }}
        </div>
        {{ search }}
        {{ flyout }}
    </div>
</header>
