<header role="banner" id="header">
    <div class="page-wrapper__inner">
        <div class="portal-head" role="banner">
            <div class="portal-logo">
                <a class="logo" title="Zur Startseite" href="/">
                    <img src="/themes/contrib/palm/images/palm.svg" height="60" />
                </a>
            </div>
            {{ navigation }}
        </div>
        {{ flyout }}
    </div>
</header>
