{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * @see template_preprocess()
 * @see template_preprocess_swiftmailer()
 *
 * @ingroup themeable
 */
#}
<html>
<head>
<style type="text/css">
    * {
        font-family: Arial;
        font-size: 14px;
    }
    p {
        margin-bottom: 20px;
    }
    table {
        width: 80%;
        min-width: 320px;
        margin: 10px 0;
    }
    thead th {
        background: #f2f2f2;
        border-bottom: 4px solid #ccc;
        padding: 8px;
        margin: 0;
    }
    tbody td {
        border-bottom: 1px solid #ccc;
        padding: 8px;
        margin: 0;
    }
</style>
</head>
<body>
<div>
  <table width="800px" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <div style="padding: 0px 0px 0px 0px;">
            {{ body }}
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
